.about {
    background: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    color: #555759;
}
.aboutheader {
    margin: auto;
    width: 70%;
    justify-self: center;
    padding-top: 3rem;
    color: #D2D3D3;
    line-height: 1.7rem;
}
.aboutheader  h1{
    padding-bottom: 1.5rem;
}
.ourmission {
   
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    color: #555759;
}
.ourmissionheader {
    margin: auto;
    width: 70%;
    justify-self: center;
    padding-top: 3rem;
    color: #D2D3D3;
    line-height: 1.7rem;
}
.ourmissionheader  h1{
    padding-bottom: 1.5rem;
}

.cardcomponent {
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.8); */
  position: relative;
  padding-top: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

@media (max-width: 900px) {
    .cardcomponent{
        flex-direction: column;
        padding-top: 2.5rem;
        justify-content: center;
        align-items: center;
    }
    .aboutheader{
        width: 80%;
    }
}
