.card2 {
  margin: 100px auto 0;
  width: 400px;
  height: 600px;
  perspective: 1000px;

}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  /* background-image: linear-gradient(to bottom right, var(--secondary), var(--primary)); */
  background-image: url('../../assets/images/cardimg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__face--front h2 {
  color: var(--dark);
  font-size: 25px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top right, rgb(112, 15, 141),  rgb(230, 207, 243) 50%,rgba(0, 0, 139, 0.932) );
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.card2 .img {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card__header h3 {
  color: var(--light);
  font-size: 20px;
  font-weight: 800;
  text-align: start;
}

.card__body {
  padding: 16px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}

@media(max-width: 700px){
  .card2 {
    width: 250px;
    height: 400px;
  }
  .card2 .img{
    width: 90px;
  height: 90px;
  }
  .card__header {
    padding: 10px 10px 25px;
  }
  .card__header h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .card__body p {
    font-size: 10px;
    text-align: justify;
  }
}