:root{
    --primary-color: #9615db;
    --white-color: #fff;
  }

.comingsoon {
    width: 90vw;
    height: 60.5vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    background-color: none;
    margin: auto;
    color: var(--white-color);
    
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

.clock_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.clock_content h1 {
    
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.clock_content h3 {
    color: var(--primary-color);
    font-weight: 300;
    margin-bottom: 3rem;
}


@media (min-width: 900px) {
    .clock_content h1 {
        font-size: 3rem;
    }

    .clock_content h3 {
        font-size: 1.5rem;
    }
}