@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.home,
.about,
.contact,
.archives,
.teampage {
  /* display: block; */
  /* height: 90vh; */
  /* align-items: center;
  justify-content: center; */
  text-align: center;
  /* padding: 1rem; */

  /* font-size: 3rem; */
  background-color: #010615;
  color: #fff;
}

.page-icon {
  margin-left: 1rem;
  font-size: 100px;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.speakers,
.startup,
.associates,
.sponsors {
  padding: 2rem 0;
}


.teampage {
  padding-top: 2rem;
  background: url('./assets/videos/teambg.mp4') ;
}
.teampage h1 {
  font-size: 4rem;
}
.ourteam {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #010615; */
  padding: 3rem;
}

.teamcard {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  opacity: 0.5;
  border-radius: 10px;
}
/* Track */
::-webkit-scrollbar-track {
background: #2d3032;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  opacity: 0.5;
}

.associates,.speakers,.startup {
  background: rgba(0, 0, 0, 0.8);
}

.register{
  width: 100%;
  height: 75vh;
  background-image:url("https://images.pexels.com/photos/2453295/pexels-photo-2453295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-overlay{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.register-links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

}

.register-btn {
  position: relative;
  width: 400px;
  height: 80px;
  background: #19191a;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9615db;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 3px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.35);
  border-left: 0.5px solid rgba(255, 255, 255, 0.35);
  padding-left: 100px;
  transition: 0.5s;
  overflow: hidden;
}

.register-btn:hover {
  padding-left: 0;
  padding-right: 100px;
  color: rgba(255, 255, 255, 1);
}

.register-btn span {
  position: absolute;
  left: 5px;
  width: 70px;
  height: 70px;
  background: #9615db;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}
.register-btn:hover span {
  left: calc(100% - 75px)
}

.register-btn:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.25);
  transform: translateX(-410px) skewX(30deg);
  transition: 0.75s ease-in-out;
}

.register-btn:hover::after {
  transform: translateX(410px) skewX(30deg);
}


@media(max-width: 770px){
  .register-btn {
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    padding-left: 80px;
  }
  .register-btn:hover {
    padding-left: 0;
    padding-right: 80px;
  }
  .register-btn span {
    width: 40px;
    height: 40px;
  }
  .register-btn:hover span {
    left: calc(100% - 45px)
  }

}